<div class="message_area">
<h1>ここには質問の詳細を掲載します。</h1>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr><th>タイトル</th>
        <td><%= @programming.title %></td></tr>
    <tr><th>エラー</th>
        <td><%= @programming.question %></td></tr>
    <tr><th>解決策</th>
        <td><%= @programming.answer %></td></tr>
    <tr><th>参照リンク</th>
        <td><%= @programming.url %></td></tr>
    </tbody>
</table>
